<% @cards.each do |card| %>
  <div class="card">
    <p>
      <%= t("cards.labels.original") %>:
      <strong><%= card.original_text %></strong>
    </p>
    <p>
      <%= t("cards.labels.translated") %>:
      <strong><%= card.translated_text %></strong>
    </p>
    <p>
      <%= t("cards.labels.date") %>:
      <strong><%= card.review_date.strftime("%d/%m/%Y") %></strong>
    </p>
    <p>
      <%= link_to t("buttons.show"), card_path(card) %>
      <%= link_to t("buttons.edit"), edit_card_path(card) %>
      <%= link_to t("buttons.delete"), card_path(card), method: :delete,
        data: { confirm: t("buttons.delete_confirm") } %>
    </p>
    <hr>
  </div>
<% end %>
