<h1><%= t(".title") %></h1>
<hr>

<%= simple_form_for(:profile, url: profile_path, method: :patch) do |f| %>
  <%= f.input :email, input_html: { value: current_user.email } %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :locale, collection: I18n.available_locales,
    include_blank: false %>
  <%= f.submit t(".submit"), class: "btn btn-primary btn-lg" %>
<% end %>
