<h1><%= t(".title") %></h1>

<%= link_to t(".add_button"), new_deck_path, class: "btn btn-primary" %>

<% @decks.each do |deck| %>
  <h2>
    <%= link_to deck.title, deck_path(deck) %>
    (<%= deck.cards.count %>)
  </h2>
  <p><%= link_to t("buttons.edit"), edit_deck_path(deck) %>
  <p><%= link_to t("buttons.delete"), deck_path(deck), method: :delete,
                 data: { confirm: t(".delete_confirm") } %>

  <% if current_user.current_deck == deck %>
    <p class="label label-primary"><%= t(".label") %></p>
  <% else %>
    <%= simple_form_for :deck, url: set_current_path do |f| %>
      <%= f.hidden_field :deck_id, value: deck.id %>
      <%= f.submit t(".current_button") %>
    <% end %>
  <% end %>
  <hr>
<% end %>
