<h1>All Decks</h1>

<%= render 'form' %>

<% @decks.each do |deck| %>
  <h2>
    <%= link_to deck.title, deck_path(deck) %>
    (<%= deck.cards.count %>)
  </h2>
  <p><%= link_to "Edit", edit_deck_path(deck) %>
  <p><%= link_to "Delete", deck_path(deck), method: :delete,
                 data: { confirm: "With deck will be delete all cards" } %>

  <% if current_user.current_deck_id == deck.id %>
    <p class="label label-primary">Current</p>
  <% else %>
    <%= simple_form_for :deck, url: change_current_state_path do |f| %>
      <%= f.hidden_field :deck_id, value: deck.id %>
      <%= f.submit "Make current" %>
    <% end %>
  <% end %>
  <hr>
<% end %>
